<div class="movies-container" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" fxLayoutWrap="nowrap">
    <mat-card *ngFor="let movie of movies" class="movie-card">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{movie.ImagePath}} alt={{movie.Title}} />
        <mat-card-actions>
            <button mat-button color="primary" (click)="showGenre(movie)">Genre</button>
            <button mat-button color="primary" (click)="showDirector(movie)">Director</button>
            <button mat-button color="primary" (click)="showDetail(movie)">Synopsis</button>
            <mat-icon (click)="toggleFavorite(movie)">{{ movie.isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>