<div class="movie-page">
  <mat-card *ngFor="let movie of movies;">
    <mat-card-header class="movie-header">
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img height="100%" src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions>
      <button mat-button color="primary" (click)="openGenreDialog(movie.Genre)">
        Genre
      </button>
      <button mat-button color="primary" (click)="openDirectorDialog(movie.Director)">
        Director
      </button>
      <button mat-button color="primary" (click)="openSynopsisDialog(movie.Description)">
        Synopsis
      </button>
      <button class="fave-button" *ngIf="!isFavorite(movie._id)" mat-icon-button (click)="addFavorite(movie._id)" matTooltip="Add to favorites">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button class="fave-button" *ngIf="isFavorite(movie._id)" mat-icon-button (click)="removeFavorite(movie._id)" matTooltip="Remove from favorites">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>