button.mat-icon-button {
  color: white; /* Change the icon color to match the toolbar */
}

.mat-card {
  flex: 1 1 auto;
  justify-content: space-between;
}
.heart-icon {
  flex-grow: 6;
  text-align: end;
}
.heart-icon::after {
  flex-grow: 6;
  text-align: end !important;
}
.movie-grid {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping of movie cards */
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 10px; /* Adjust the gap between cards */
}

.movie-grid .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  align-self: center;
}

.movie-grid .arrow.prev {
  left: 10px;
}

.movie-grid .arrow.next {
  right: 10px;
  text-align: center;
}