/* Center the card and its content */
mat-card {
    margin: 0 auto;
    text-align: center;
}

/* Style the button */
mat-card-actions {
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    color: blue;
    padding: 5%;
    width: 100%;
}

mat-form-field {
    width: 100%;
}