<mat-card>
    <mat-card-header>
        <mat-card-title>Sign Up!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="registerUser()">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="userData.Username" name="Username" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="userData.Password" name="Password" type="password" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="userData.Email" name="Email" type="email" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Birthday</mat-label>
                <input matInput [(ngModel)]="userData.Birthday" name="Birthday" type="date" required>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Register</button>
                <button mat-button type="reset">Reset</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>