/* src/app/user-registration-form/user-registration-form.component.scss */
/* Center the card and its content */
mat-card {
  margin: 0 auto;
  text-align: center;
}

/* Style the button */
mat-card-actions {
  display: flex;
  justify-content: center;
}

button {
  background-color: rgb(215, 97, 226);
  color: white;
  width: 100%;
}

button+button {
  margin-left: 1rem;
  /* Adjust the spacing as needed */
}

mat-form-field {
  width: 100%;
}