.navbar {
  background-color: #0da9d9; // Customize your navbar color
  color: white;
  display: flex;
  justify-content: flex-start; // Change from space-between to flex-start
  align-items: center; // Center the items vertically
  padding: 0 1rem;
}

.spacer {
  flex-grow: 1; // Ensure this spacer grows to fill space between elements
}

.nav-links {
  display: flex;
  gap: 1rem; // Add gap between links
}

.mat-toolbar-row {
  width: 100%; // Ensure the toolbar row takes full width
  display: flex;
  align-items: center; // Center items vertically
}