<!-- src/app/navbar/navbar.component.html -->
<mat-toolbar color="primary" class="navbar">
    <a mat-button routerLink="/">myFlix</a>
    <span class="spacer"></span>
    <div *ngIf="!user">
        <a mat-button routerLink="/welcome">Home</a>
        <a mat-button routerLink="/favorites">My Favorites</a>
        <a mat-button routerLink="/profile">Profile</a>
        <a mat-button (click)="logoutUser()">Logout</a>
    </div>
    <div *ngIf="user">
        <a mat-button routerLink="/welcome">Home</a>
        <a mat-button routerLink="/favorites">My Favorites</a>
        <a mat-button routerLink="/profile">Profile</a>
        <button mat-button (click)="logoutUser()">Logout</button>
    </div>
</mat-toolbar>