<!-- src/app/nav-bar/nav-bar.component.html -->
<mat-toolbar color="primary" class="navbar" *ngIf="showHeader">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="/">myFlix</a>
        <span class="spacer"></span>
        <div class="nav-links" fxShow="true" fxHide.lt-md>
            <a mat-button routerLink="/welcome">Home</a>
            <a mat-button routerLink="/favorites">My Favorites</a>
            <a mat-button routerLink="/profile">Profile</a>
            <a mat-button (click)="logoutUser()">Logout</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <mat-list-item><a (click)="sidenav.toggle()">Close</a></mat-list-item>
            <mat-list-item><a routerLink="/welcome">Home</a></mat-list-item>
            <mat-list-item><a routerLink="/favorites">My Favorites</a></mat-list-item>
            <mat-list-item><a routerLink="/profile">My Profile</a></mat-list-item>
            <mat-list-item><a (click)="logoutUser()">Logout</a></mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>