@use '@angular/material' as mat;

/* Include the common styles for Angular Material. */
@include mat.core();

/* Define the palettes for your theme. */
$myFlix-Angular-client-primary: mat.define-palette(mat.$indigo-palette);
$myFlix-Angular-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$myFlix-Angular-client-warn: mat.define-palette(mat.$red-palette);

/* Create the theme object. */
$myFlix-Angular-client-theme: mat.define-light-theme((
  color: (
    primary: $myFlix-Angular-client-primary,
    accent: $myFlix-Angular-client-accent,
    warn: $myFlix-Angular-client-warn,
  )
));

/* Include theme styles for core and each component used in your app. */
@include mat.all-component-themes($myFlix-Angular-client-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
