@use '@angular/material' as mat;
@use '@angular/material/theming' as mat;

// Define the palettes for your theme using the Material Design palettes
$primary-color: mat.define-palette(mat.$blue-grey-palette);
$accent-color: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red)
$warn-color: mat.define-palette(mat.$red-palette);

// Create the theme object
$theme: mat.define-light-theme((color: (primary: $primary-color,
                accent: $accent-color,
                warn: $warn-color,
            )));

// Include theme styles for core and each component used in your app
@include mat.all-component-themes($theme);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}