@use '@angular/material' as mat;

.profile-container {
  padding: 2rem;
  width: 100%;
  max-width: 600px;

  @include mat.elevation(2);
}

mat-card {
  width: 100%;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}