@use '@angular/material' as mat;

.profile-container {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin: auto;

  @include mat.elevation(2);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card {
  width: 100%;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button.mat-raised-button {
  background-color: rgb(10, 179, 241);
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

button.mat-raised-button:hover {
  background-color: rgb(8, 143, 193);
}

button+button {
  margin-top: 1rem;
  /* Adjust the spacing as needed */
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(10, 179, 241);
}

p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}